@font-face {
  font-family: 'crewmeistericons';
  src:  url('../fonts/icons.eot?axemqu');
  src:  url('../fonts/icons.eot?axemqu#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?axemqu') format('truetype'),
    url('../fonts/icons.woff?axemqu') format('woff'),
    url('../fonts/icons.svg?axemqu#crewmeistericons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crewmeistericons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bug:before {
  content: "\e999";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-stackoverflow:before {
  content: "\ead0";
}

