

@font-face {
  font-family: 'aileronsregular';
  src: url('../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
  url('../fonts/ailerons-typeface-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$maxWidth: 980px;
$main: #2b1e09;

html {
  color: $main;
  font-family: 'Droid Sans', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/header.jpg');
  background-size: cover;
  height: 40vh;
  position: relative;
  z-index: 1;
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../images/header.jpg');
  background-size: cover;
  z-index: 0;
}

.header-sticker--title {
  font-family: 'aileronsregular', sans-serif;
  color: white;
  font-size: 30px;
}

.header-sticker--link {
  color: white;
  text-decoration: none;
}

.header-sticky--container {
  max-width: $maxWidth;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--title {
  font-family: 'aileronsregular', sans-serif;
  font-size: 80px;
  font-weight: 900;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: #1bb0bf 0 0 300px;
}

.header--links {
  display: flex;
  justify-content: center;
}

.header--link {
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 200ms;

  &:hover {
    background-color: white;
    color: #4e4e4e;
  }
}

.content {
  max-width: $maxWidth;
  padding: 20px;
  margin: auto;
}
