<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
</head>
<body>

<header class="header">
  <h1 class="header--title">{{ site.title }}</h1>
  <div class="header--links">
    <a class="header--link"
       target="_blank"
       href="https://github.com/{{site.github_name}}"
    >
      <i class="icon-github"></i> Github
    </a>
  </div>
</header>

<header class="header-sticky">
  <div class="header-sticky--container">
    <h2 class="header-sticker--title">{{ site.title }}</h2>
    <a
      target="_blank"
      class="header-sticker--link"
      href="https://github.com/{{site.github_name}}"
    >
      <i class="icon-github"></i>
      Github
    </a>
  </div>
</header>

<div class="content">
  {{ content }}
</div>

<footer>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85710334-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
