<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
  <h1 class="header--title">{{ site.title }}</h1>
  <div class="header--links">
    <a class="header--link" href="https://github.com/{{site.github_name}}">Github</a>
  </div>
</header>

<div class="content">
  {{ content }}
</div>

<pre>
  <code class="language-javascript">
    const test = 'xxxx';
  </code>
</pre>

<footer></footer>
</body>
</html>
